<aside id="secondary" class="widget-area" role="complementary" aria-label="side column">
  <section id="menu" class="widget widget_menu">
  <h2 class="widget-title">{{ i18n "menuTitle" }}</h2>
    <ul>
      <li><i class="icon fa fa-home fa-fw" aria-hidden="true"></i><a href="{{ "/" | absURL }}">Beranda</a></li>
      <li><i class="icon fa fa-archive fa-fw" aria-hidden="true"></i><a href="{{ "/archive" | absURL }}">Arsip</a></li>
      <li><i class="icon fa fa-user fa-fw" aria-hidden="true"></i><a href="{{ "/tentang" | absURL }}">Tentang Saya</a></li>
      <li><i class="icon fa fa-medkit fa-fw" aria-hidden="true"></i><a href="{{ "/mari-bantu-warga" | absURL }}">Mari Bantu Warga </a></li>
      <li><i class="icon fa fa-rss fa-fw" aria-hidden="true"></i><a href="{{ "/index.xml" | absURL }}">RSS</a></li>
    </ul>
  </section>
</aside>
